@charset "UTF-8";

.display{
	background-color: orange;
	text-align: center;
	padding: 5rem;
	margin: 5rem;
	table-align: center;
}

div {
	border:1px solid black;
}

th, td {
  padding: 5px;
  text-align: center;
}