<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>project1</display-name>
  <!-- in this element, we declare our servlet to the web container -->
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>com.revature.servlet.LoginServlet</servlet-class> <!-- fully qualified classname -->
  </servlet>
  <!-- in this element, we map the servlet to a url pattern -->
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SubmitRequest</servlet-name>
  	<servlet-class>com.revature.servlet.SubmitRequest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SubmitRequest</servlet-name>
  	<url-pattern>/submitRequest</url-pattern>
  </servlet-mapping>
</web-app>